// -------------------------------------- JS in myJsClasses/wl-scroll-animation.js --------------------------------
//
// ------------------------------------------------- АНИМАЦИЯ ПРИ СКРОЛЛЕ ОТ ВЕБЛЕГКО --------------------------------------------------
// import {WLScrollAnimation} from './myJsClasses/wl-scroll-animation.js'

// // ---------- анимация при скролле одного родительского элемента(вколонке) и всех дочерних с нарастающей задержкой(вряду)------------------
// new WLScrollAnimation({
//   point : 100,                 // координаты по Y снизу на экране, когда начнет срабатывать скрипт(при скроле)
//   delay : 25,                  // нарастающая задержка для элементов вряду
//   parent : '.reveal-row',      // родительский элемент для организации цикла вряду
//   child : '.row-item',         // элементы к которым будет применена анимация
//   activeClass : 'active'       // активный класс для стилизации анимации
// }).init()

// // ---------- анимация при скролле одного элемента(вколонке) --------------------
// new WLScrollAnimation({
//   point : 30,
//   child : '.reveal-left',
//   activeClass : 'active'
// }).init()
//
// --------------------------------------------- HTML -----------------------------------------------------
//  закрепи класс (.reveal-point, .reveal-col, .reveal-left, .reveal-right)на элемент который хочешь анимировать и всё !
//  если анимация в ряд то закрепи класс .reveal-row для родителя и .row-item для детей
// 
// -------------------------------------- МИНИ АНИМАЦИЯ ПРИ СКРОЛЛЕ --------------------------------------------

// ------- для одиночного в колонке "увелечение со сдвигом" -----
:root {
    --scroll-animation-transition-time: 0.5s;
}

.reveal-point {
    transform: translateX(-50%) scale(0.4);
    transition: transform var(--scroll-animation-transition-time) ease-in-out;

    &.active {
        transform: translateX(-50%) scale(1);
        transition: transform var(--scroll-animation-transition-time) ease-in-out;
    }
}

// ------- для одиночного в колонке "увелечение" -----
.reveal-col {
    transform: scale(0.4);
    transition: transform var(--scroll-animation-transition-time) ease-in-out;

    &.active {
        transform: scale(1);
        transition: transform var(--scroll-animation-transition-time) ease-in-out;
    }
}

// // ------- для одиночного в колонке "выход слева" -----
.reveal-left {
    transform: translateX(-50%);
    opacity: 0;
    transition: all var(--scroll-animation-transition-time) ease-in-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
        transition: all var(--scroll-animation-transition-time) ease-in-out;
    }
}

// ------- для одиночного в колонке "выход справа" -----
.reveal-right {
    transform: translateX(50%);
    opacity: 0;
    transition: all var(--scroll-animation-transition-time) ease-in-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
        transition: all var(--scroll-animation-transition-time) ease-in-out;
    }
}

// ------- для одиночного в колонке "прзрачность" -----
.reveal-opacity {
    opacity: 0.2;
    transition: all var(--scroll-animation-transition-time) ease-in-out;

    &.active {
        opacity: 1;
        transition: all var(--scroll-animation-transition-time) ease-in-out;
    }
}

// ------- для цикла в ряд "увелечение" -----
.reveal-row {
    .reveal-item {

        opacity: 0.75;
        transform: scale(0.4);
        transition: all var(--scroll-animation-transition-time) ease-in-out;

        &.active {
            transform: scale(1);
            opacity: 1;
            transition: all var(--scroll-animation-transition-time) ease-in-out;
        }

    }
}