// Заголовки, общие БЄМ блоки и прочее...

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.line-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.service-overlay {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: background 0.3s ease-in-out;
}

//----------------------------------------------- Containers -----------------------------------------------------------------------
.container-full {
	padding: 0 var(--container-padding);
	max-width: 100%;
}

.container-left-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;

	@include md {
		max-width: 100%;
	}
}

.container-right-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;
	margin-left: auto;

	@include md {
		max-width: 100%;
	}
}

.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));

	@include xl {
		padding-left: var(--container-padding);
	}
}

.container-left {
	padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));

	@include xl {
		padding-right: var(--container-padding);
	}
}

.container-half-left {
	padding-right: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));

	@include xl {
		padding-left: var(--container-padding);
	}

	@include md {
		padding: 0 var(--container-padding);
	}
}

.container-half-right {
	padding-left: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
	padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));

	@include xl {
		padding-right: var(--container-padding);
	}

	@include md {
		padding: 0 var(--container-padding);
	}
}

//-------------------------------- Полоса влево за пределы контейнера в бесконечность ------------------------------------------

.left-infinity {
	--backgroundColor: var(--color-accent);

	display: inline-block;
	position: relative;
	padding-top: 1.25rem;
	padding-right: 4rem;
	padding-bottom: 1.25rem;
	background-color: var(--backgroundColor);

	@include sm {
		padding-top: 1rem;
		padding-right: 2rem;
		padding-bottom: 1rem;
		&::before{
			padding-right: 2rem ;
		}
	}

	&::before {
		position: absolute;
		content: "X";
		left: -5000px;
		width: 5000px;
		top: 0;
		height: 100%;
		padding-right: 4rem;
		background-color: var(--backgroundColor);
		color: var(--color-main);
	}
}

.bred {
	border: 1px solid red;
}


.video-overlay,
.img-overlay {
	position: relative;
	display: block;

	&:hover:before {
		transform: scale(1);
	}

	&:hover {
		z-index: 50;
	}

	&:before {
		content: "";
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scale(0);
		background: rgba(201, 199, 201, 0.05);
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		-ms-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}

	&:after {
		content: "";
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 1px solid var(--color-accent);
		background-color: rgb(26, 62, 62, 0.25);
		background-position: center center;
		/* x y */
		background-size: 50%;
		background-repeat: no-repeat;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-i;
	}
}

.img-overlay {
	&:hover:after {
		transform: translate(-50%, -50%) scale(1) rotate(0deg);
	}

	&:after {
		transform: translate(-50%, -50%) scale(0) rotate(-50deg);
		background-image: url('../../icons/expand-solid.svg');
	}
}

.video-overlay {
	&:hover:after {
		transform: translate(-50%, -50%) scale(1);
	}

	&:after {
		transform: translate(-50%, -50%) scale(0);
		background-image: url('../../icons/video.svg');
	}
}

//--------------------------------------------------------- Buttons ---------------------------------------------------------------
.btn-main {
	display: inline-block;
	padding: rem(24) rem(48);
	background-color: var(--color-accent);
	color: var(--color-main);
	border: 1px solid var(--color-accent);
	font-size: rem(25);
	font-weight: 500;
	line-height: 110%;
	transition: all 0.3s ease-in-out;

	&:hover {
		opacity: 0.75;
	}
}

.btn-accent {
	display: block;
	width: 100%;
	padding: rem(23) rem(20);
	text-align: center;
	background-color: rgb(65, 58, 53);
	color: var(--color-white);
	font-size: rem(32);
	font-weight: 500;
	line-height: rem(38);
	transition: all 0.3s ease-in-out;

	&:hover {
		opacity: 0.75;
	}
}

.btn-callback-footer {
	display: inline-block;
	font-size: rem(17);
	line-height: rem(20);
	font-weight: 500;
	color: var(--color-accent);
	padding: 1rem 2.5rem;
	border: 1px solid var(--color-accent);
	border-radius: 5px;
	transition: all 0.3s ease-in-out;

	span {
		padding-left: 2rem;
		display: inline-block;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: rem(20);
			height: rem(20);
			background-image: url(../../icons//phone-solid-footer.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	&:hover {
		opacity: 0.75;
	}
}

[class*="attitude__"] {
	width: 100%;
	object-fit: cover;
}